.container{
    width: auto;
    height: auto;
    display: table;
    border: 0.125em solid black;
    padding: 1em;

    text-align:left;
    vertical-align: middle;
    display: table-cell;
}

#uscur, #acur{
    float: right;
    margin-left: 1em;
}

.container h3{
    text-align: center;
}

#calcBtn{
    float: right;
}